[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma generate && npx prisma db push && npm start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
