[build]
builder = "nixpacks"

[deploy]
startCommand = "npx prisma generate && npm run start"
healthcheckPath = "/"
healthcheckTimeout = 300
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 3
